<button class="button button1" (click)="showTop()">
  Show Top
</button>

<button class="button button2"  (click)="showBottom()">
  Show Bottom
</button>


<button class="button button3"  (click)="showLeft()">
  Show Left
</button>

<button class="button button4"  (click)="showRight()">
  Show Right
</button>

 <biplab-notifier [(notification)]="snackbar"></biplab-notifier>
 
 <hr>
 <button class="button button1" (click)="showTopMulti()">
    Show Top Multi
  </button>
  
  <button class="button button2"  (click)="showBottomMulti()">
    Show Bottom Multi
  </button>
  
  
  <button class="button button3"  (click)="showLeftMulti()">
    Show Left Multi
  </button>
  
  <button class="button button4"  (click)="showRightMulti()">
    Show Right Multi
  </button>
  
   <biplab-notifier [(notification)]="snackbarMulti"></biplab-notifier>