<h1>Example of Notifications</h1>
<ng-template #row let-event="event">
  <div style="background: violet; padding: 15px;">
    This is template
    <button style="float: right; border: none; background: transparent" (click)="event.emit(true)">X</button>
  </div>
</ng-template>
<biplab-notifier [(notification)]="notification">
 <span notifierTitle>WOW you see this too</span>
</biplab-notifier>

<div>
  <app-custom-template></app-custom-template>
</div>
<div>
  <app-auto-hide-message></app-auto-hide-message>
</div>
<div>
  <app-multiple-message></app-multiple-message>
</div>
<div>
  <app-icon-template></app-icon-template>
</div>
<div>
  <app-show-on-click></app-show-on-click>
</div>

<div>
  <h2>Snackbar example</h2>
  <app-snackbar></app-snackbar>
</div>
